body {
    /*font-family: 'Roboto', sans-serif;*/
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #555;
    line-height: 1.6;
    padding: 4em 1em;
    margin: 0px;
}

text {
    font-family: 'Open Sans', sans-serif;
}

main {
    width: 60vw;
    min-width: 800px;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6, strong {
    color: #333;
}

h1 {
    margin: 1rem 0;
    padding-top: 1em;
    font-size: 2em;
    font-weight: 300;
}

h2 {
    font-size: 1.44rem;
    font-weight: 400;
    margin: 3em 0 1em 0;
}

.top_20_countries h2 {
    margin-bottom: 0;
}

h4 {
    font-size: 1rem;
    font-weight: 500;
    min-height: 3rem;
    margin-bottom: 0;
    margin-top: 2em;
}

p.intro {
    max-width: 800px;
}

.subtitle {
    margin-top: 0.3em;
}

section {
    width: 100%;
}

section.top_20_countries {
    display: inline-block;
}

div.rankings_container {
    display: inline-block;
}

div.rankings {
    width: 22%;
    margin-right: 20px;
    float: left;
}

ol.country_list {
    padding-left: 20px;
    line-height: 1.8rem;
    margin-top: 10px;
}

li.country {
    color: #ccc;
    background-color: #fff;
    pointer-events: none;
    /*list-style-position: inside;*/
}

li.superstar.country {
    color: #555;
    pointer-events: all;
}

li.superstar.country.faded {
    color: #ccc;
}

li.superstar.country.highlighted {
    color: #555;
    background-color: #ffe5cc;
}

li::before {
    background-color: #ffe5cc;
}

.transitionQ {
    /*clear: both;*/
    margin-top: 4em;
}

div.chart {
    /*margin-bottom: 30px;*/
}

div.legend {
    margin-top: 2em;
}

.legend svg {
    vertical-align: bottom;
}

.legend circle {
    fill: #ffe5cc;
}

#health_ed_plot {
    position: relative;
    height: 650px;
    width: 600px;
    margin-left: 10vw;
    margin-top: 8vh;
}

.label {
    width: 150px;
    position: absolute;
    font-size: 14px;
    top: 10px;
}

.ed.label {
    left: 425px;
}

.cells path {
    fill: none;
    /*stroke: #d2d2d2;*/
    pointer-events: all;
}

.metricLabel {
    font-size: 14px;
}

.scaleLabel {
    font-size: 12px;
    font-style: italic;
}

.health_ed_plot.tooltip {
    position: absolute;
    top: 130px;
    right: 0;
    box-sizing: border-box;
    width: 200px;
    padding: 10px;
    border: 1px solid #d2d2d2;
    font-size: 14px;
    background-color: #fff;
    z-index: 10;
}

.tooltip h5 {
    font-weight: 400;
    font-size: 1.25rem;
    margin: 10px 0;
}

.hidden {
    visibility: hidden;
}

.stable_system.tooltip {
    margin: 20px 0;
}

.stable_system.tooltip p.country_name {
    text-align: center;
    padding: 0 125px 0 70px;
}

#suns {
    margin: 3rem 0;
}

svg.countrySun {
    margin-right: 20px;
}

.countrySun text.countryName {
    font-size: 14px;
    fill: #000;
}

.sun.center {
    stroke-width: 2px;
    fill: #fff;
}

.ray {
    stroke-width: 2px;
}

.sun.gridline {
    stroke: #fff;
    fill: none;
    stroke-width: 2px;
}