body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #555;
    line-height: 1.5;
    padding: 4em 1em;
    margin: 0px;
}

text {
    font-family: 'Roboto', sans-serif;
}

main {
    width: 60vw;
    min-width: 800px;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6, strong {
    color: #333;
}

h1 {
    margin-top: 1em;
    padding-top: 1em;
    font-size: 2.5em;
    font-weight: 300;
}

h3 {
    font-weight: 400;
    margin-bottom: 50px;
}

h4 {
    font-weight: 500;
    min-height: 3rem;
    margin-bottom: 0;
}

section {
    width: 100%;
}

section.top_20_countries {
    display: inline-block;
}

div.rankings {
    width: 22%;
    margin-right: 20px;
    float: left;
}

ol.country_list {
    padding-left: 20px;
    line-height: 1.8rem;
    margin-top: 10px;
}

li.country {
    color: #ccc;
    background-color: #fff;
    pointer-events: none;
    /*list-style-position: inside;*/
}

li.superstar.country {
    color: #555;
    pointer-events: all;
}

li.superstar.country.faded {
    color: #ccc;
}

li.superstar.country.highlighted {
    color: #555;
    background-color: #ffe5cc;
}

li::before {
    background-color: #ffe5cc;
}

div.chart {
    margin-bottom: 40px;
}

#health_ed_plot {
    position: relative;
    height: 650px;
    width: 600px;
    margin-left: 15%;
}

.label {
    width: 150px;
    position: absolute;
    font-size: 14px;
    top: 10px;
}

.ed.label {
    left: 425px;
}

.metricLabel {
    font-size: 12px;
}

.health_ed_plot.tooltip {
    position: absolute;
    top: 140px;
    right: 0;
    box-sizing: border-box;
    width: 200px;
    padding: 10px;
    border: 1px solid #d2d2d2;
    font-size: 14px;
    background-color: #fff;
    z-index: 10;
}

.tooltip h5 {
    font-weight: 400;
    font-size: 1.25rem;
    margin: 10px 0;
}

.hidden {
    visibility: hidden;
}

.stable_system.tooltip p.country_name {
    text-align: center;
}

.countrySun text.countryName {
    font-size: 14px;
}

.sun.center {
    stroke-width: 3;
    fill: #fff;
}

.ray {
    stroke-width: 3;
}